aside {
  border: 3px solid cadetblue;
  border-radius: 5%;
  float: left;
  background-color: aliceblue;
  margin: 1%;
  padding: 1%;
}

.to-right {
  text-align: right;
   
}

.to-left {
  text-align: left;
}
main {
  float: right;
  background-color: bisque;
  margin: 1%;
  padding: 1%;
  border: 3px solid peachpuff;
  border-radius: 5%;
}
